__pycache__/
*.py[cod]
venv/
.env
backend/storage/photos/*.jpg
backend/storage/photos/*.jpeg
backend/storage/photos/*.png
frontend/node_modules/
frontend/dist/
frontend/.angular/
.DS_Store
Thumbs.db
.vscode/
# Storage - ignore files but keep folder structure
backend/storage/photos/*
backend/storage/logos/*
backend/storage/backgrounds/*
backend/storage/settings.json